{% extends 'members_test_fx/base.html' %}

{% block content %}

<h1>Hello Django !  {% now "jS F Y H:i" %} </h1>
<p>Liste des parties :</p>
<ul>
    <li>{{tab_members.0.name}} joue une {{tab_games.1.title}}</li>
    <li>{{tab_members.1.name}} joue une {{tab_games.3.title}}</li>
</ul>

<p>Liste des membres :</p>
<ul>
{%for mem in tab_members %}
<li><a href="{% url 'hello-details' mem.id %}">{{ mem.name | upper}}</a></li>
{%endfor%}
</ul>

<p>Liste des games :</p>
<ul>
{%for gam in tab_games %}
<li>{{ gam.title }} </li>
{%endfor%}     
</ul>

<p>Liste des parties conditionnelles :</p>
<ul>
{% for gam in tab_games %}
<li>
    {% if 'au' in gam.title %}
        Oulala...
    {% else %}
        Better...
    {% endif %}
    {{ gam.title }} 
</li>
{% endfor %}
</ul>

{% endblock %}
